Django==5.1.4,<6.0
django-browser-reload==1.17.0
# Plantillas para crispy form
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
crispy-tailwind==1.0.3
pytest==8.3.4
pytest-django==4.9.0
django-allauth[socialaccount]==65.3.1
whitenoise==6.8.2
gunicorn==23.0.0
python-dotenv==1.0.1
dj-database-url==2.3.0
psycopg==3.2.4
psycopg-binary==3.2.4